// Grid Settings
$gridsize: 12;

// Grid Columns
@for $i from 1 through $gridsize {
  .col-#{$i} { 
    width:  ( $i / $gridsize ) * 100%;  
  }
}

// Responsive Grid Columns
@each $slug, $size in $breakpoints {
  @media (min-width: #{$size}) {
    @for $i from 1 through $gridsize {
      .#{$slug}-col-#{$i} {
        width:  ( $i / $gridsize ) * 100%;
      }
    }
  }
}