html, body {
  height: 100%;
  background-color: #E2E1DB;
  font-family: 'Futura BT Medium', serif;
  font-weight: normal;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Colors */
/* Color maps */
.beige {
  color: #E2E1DB;
}

.bg-beige {
  background-color: #E2E1DB;
}

.border-beige {
  border-color: #E2E1DB;
}

.stroke-beige {
  stroke: #E2E1DB;
}

.blue {
  color: #273248;
}

.bg-blue {
  background-color: #273248;
}

.border-blue {
  border-color: #273248;
}

.stroke-blue {
  stroke: #273248;
}

@font-face {
  font-family: "Futura BT Heavy";
  src: url("/static/fonts/FuturaBT-Heavy.eot?") format("eot"), url("/static/fonts/FuturaBT-Heavy.woff") format("woff"), url("/static/fonts/FuturaBT-Heavy.ttf") format("truetype"), url("/static/fonts/FuturaBT-Heavy.svg") format("svg");
}
@font-face {
  font-family: "Playfair Display Bold";
  src: url("/static/fonts/PlayfairDisplay-Bold.eot?") format("eot"), url("/static/fonts/PlayfairDisplay-Bold.woff") format("woff"), url("/static/fonts/PlayfairDisplay-Bold.ttf") format("truetype"), url("/static/fonts/PlayfairDisplay-Bold.svg") format("svg");
}
@font-face {
  font-family: "Futura BT Medium";
  src: url("/static/fonts/FuturaBT-Medium.eot?") format("eot"), url("/static/fonts/FuturaBT-Medium.woff") format("woff"), url("/static/fonts/FuturaBT-Medium.ttf") format("truetype"), url("/static/fonts/FuturaBT-Medium.svg") format("svg");
}
.serif-bold, #home h1 {
  font-family: 'Playfair Display Bold', serif;
  font-weight: normal;
}

.sans-medium, #home h3 {
  font-family: 'Futura BT Medium', serif;
  font-weight: normal;
}

.sans-bold, #home h2 {
  font-family: 'Futura BT Heavy', serif;
  font-weight: normal;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 36em) {
  .sm-col-1 {
    width: 8.3333333333%;
  }

  .sm-col-2 {
    width: 16.6666666667%;
  }

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-4 {
    width: 33.3333333333%;
  }

  .sm-col-5 {
    width: 41.6666666667%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-7 {
    width: 58.3333333333%;
  }

  .sm-col-8 {
    width: 66.6666666667%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-10 {
    width: 83.3333333333%;
  }

  .sm-col-11 {
    width: 91.6666666667%;
  }

  .sm-col-12 {
    width: 100%;
  }
}
@media (min-width: 52em) {
  .md-col-1 {
    width: 8.3333333333%;
  }

  .md-col-2 {
    width: 16.6666666667%;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.3333333333%;
  }

  .md-col-5 {
    width: 41.6666666667%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-7 {
    width: 58.3333333333%;
  }

  .md-col-8 {
    width: 66.6666666667%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-10 {
    width: 83.3333333333%;
  }

  .md-col-11 {
    width: 91.6666666667%;
  }

  .md-col-12 {
    width: 100%;
  }
}
@media (min-width: 60em) {
  .lg-col-1 {
    width: 8.3333333333%;
  }

  .lg-col-2 {
    width: 16.6666666667%;
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-4 {
    width: 33.3333333333%;
  }

  .lg-col-5 {
    width: 41.6666666667%;
  }

  .lg-col-6 {
    width: 50%;
  }

  .lg-col-7 {
    width: 58.3333333333%;
  }

  .lg-col-8 {
    width: 66.6666666667%;
  }

  .lg-col-9 {
    width: 75%;
  }

  .lg-col-10 {
    width: 83.3333333333%;
  }

  .lg-col-11 {
    width: 91.6666666667%;
  }

  .lg-col-12 {
    width: 100%;
  }
}
.mx-auto {
  margin: 0 auto;
}

#home {
  position: relative;
  height: 100%;
}
#home .content {
  padding-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 1.5s ease-in-out;
  opacity: 0;
}
#home .content.js-reveal {
  opacity: 1;
}
#home .title-wrapper {
  margin-bottom: 1.25rem;
}
@media (min-width: 52em) {
  #home .title-wrapper {
    margin-bottom: 2rem;
  }
}
#home .icons-wrapper {
  margin-bottom: 1.25rem;
}
@media (min-width: 52em) {
  #home .icons-wrapper {
    margin-bottom: 2rem;
  }
}
#home .address-wrapper {
  display: block;
  margin-bottom: 1.25rem;
}
@media (min-width: 52em) {
  #home .address-wrapper {
    margin-bottom: 2rem;
  }
}
#home .coming-soon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#home .coming-soon svg {
  margin-left: 1rem;
  width: 19px;
  height: 19px;
}
#home a {
  color: #273248;
}
#home img {
  width: 100%;
  margin-bottom: 1rem;
  max-width: 150px;
}
@media (min-width: 52em) {
  #home img {
    margin-bottom: 2rem;
    max-width: 275px;
  }
}
#home h1 {
  font-size: 26px;
  letter-spacing: 1.6px;
  color: #273248;
  margin-bottom: 1rem;
}
@media (min-width: 52em) {
  #home h1 {
    font-size: 40px;
    margin-bottom: 2rem;
  }
}
#home h2 {
  font-size: 16px;
  letter-spacing: 1.06px;
  color: #273248;
}
@media (min-width: 52em) {
  #home h2 {
    font-size: 20px;
  }
}
#home h3 {
  color: #273248;
  font-size: 12px;
  letter-spacing: 1.33px;
  line-height: 21px;
}
@media (min-width: 52em) {
  #home h3 {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
