#home {
  position: relative;
  height: 100%;

  .content {
    padding-top: 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: 1.5s ease-in-out;
    opacity: 0;

    &.js-reveal {
      opacity: 1;
    }
  }

  .title-wrapper {
    margin-bottom: 1.25rem;
    @media #{$md-up} {
      margin-bottom: 2rem;
    }
  }

  .icons-wrapper {
    margin-bottom: 1.25rem;
    @media #{$md-up} {
      margin-bottom: 2rem;
    }
  }

  .address-wrapper {
    display: block;
    margin-bottom: 1.25rem;
    @media #{$md-up} {
      margin-bottom: 2rem;
    }
  }

  .coming-soon {
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      margin-left: 1rem;
      width: 19px;
      height: 19px;
    }
  }

  a {
    color: color('blue');
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
    max-width: 150px;
    @media #{$md-up} {
      margin-bottom: 2rem;
      max-width: 275px;
    }
  }

  h1 {
    @extend .serif-bold;
    font-size: 26px;
    letter-spacing: 1.6px;
    color: color('blue');
    margin-bottom: 1rem;
    @media #{$md-up} {
      font-size: 40px;
      margin-bottom: 2rem;
    }
  }

  h2 {
    @extend .sans-bold;
    font-size: 16px;
    letter-spacing: 1.06px;
    color: color('blue');
    @media #{$md-up} {
      font-size: 20px;
    }
  }

  h3 {
    @extend .sans-medium;
    color: color('blue');
    font-size: 12px;
    letter-spacing: 1.33px;
    line-height: 21px;
    @media #{$md-up} {
      font-size: 14px;
    }
  }
}